*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #eef3ff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

h1{
    margin-bottom: 20px;
}

.kartlar{
    display:flex;
    gap:20px;
}

.kart{
    width: 200px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5)
}