* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #0095ff, #ffffff);
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.kart {
    width: 400px;
    background-color: white;

    padding: 20px;
    margin: 30px auto;
    border: 4px solid #000000;
    border-radius: 15px;

    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
    text-align: center;

}


.resim {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

#baslik {
    color: #0d14a1;
    margin-bottom: 20px;
}


.aciklama {
    color: #444;
    font-size: 16px;
    margin-bottom: 15px;
}

.not {
    margin: 10px 0;
    color: gray;
}

.buton {
    display: inline-block;
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
}

.buton:hover {
    background-color: rgb(19, 128, 0);
}