*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eef3f3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

h1{
    margin-bottom: 20px;
}

.kartlar{
    display: flex;
    gap:20px;
}

.kart{
    width: 200px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.kart span{
    font-weight: bold;
    color: #3344aa;
}

.kart h3{
    margin-bottom: 12px;;
}

.kart p{
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.8;
}