body {
    background: linear-gradient(to bottom, #141e30, #243b55);
    font-family: Arial, Helvetica, sans-serif;
}

.gym {
    width: 400px;
    background-color: #1c1c1c;
    color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 19px;
}

.gym h1 {
    text-align: center;
    color: #f1c40f;
    letter-spacing: 2px;


}

.slogan {
    text-align: center;
    color: #bdc3c7;
    font-size: 14px;
}

.gym ul {
    margin-top: 20px;
}

.gym li {
    margin-bottom: 10px;
    color: #ecf0f1;

}

.uye-ol {
    margin-top: 20px;
    text-align: center;
    background-color: #f39c12;
    color: black;
    font-weight: bold;
    padding: 12px;
    border-radius: 12px;
}

.uye-ol:hover {
    background-color: #e67e22;

}