body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef2ff;
    padding: 20px;
}

.takvim{
    width: 600px;
    margin: 0 auto;
}

.etkinlik{
    border: 2px solid #4b5cff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px #4b5cff;
}

.etkinlik h2{
    margin-bottom: 5px;
}

.tarih{
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}


.onemli{
    border: 2px solid #ff4b4b;
    margin-bottom: 20px;
    background-color: rgb(232, 120, 120);
    box-shadow: 0 0 10px #ff4b4b;
}

.etkinlik:hover{
    transform: scale(1.03);
}

.onemli:hover{
    transform: scale(1.5);

}