body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f8;
}

.sirket-kart {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(to right, #1822ad, #d930a9);
    border-radius: 15px;
    color: white;
}

.sirket-kart h1{
    text-align: center;
    font-size: 32px;
}
.sirket-kart h3{
    text-align: center;
    font-weight: 400;
}

.sirket-kart p{
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}