/*Evrensel SEÇİÇi*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*etiket SEçiçi*/

body {
font-family:Arial, Helvetica, sans-serif;
background-color: #f0f3ff;
padding: 40px;
}

.kart{
    width: 300px;
    background-color: white;


    /*KUTU MODELİ */

    padding: 20px;
    border: 2px solid #ccc;
    margin: 30px auto;

    /*Görsel Efektler*/


    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);

    text-align: center;



}

/* ID SEÇİCİLERİ*/
#isim{
font-size: 22px;
color: #333;
margin-top:10px;
}


/*Grup seçiçiler */

h3, p {
    margin-bottom: 10px;
}


.kart p {
    color:#666;
    font-size: 15px;
}



.buton{
    display:inline-block;
    padding: 10px 20px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 19px;
    font-weight: bold;
    margin-top: 10px;
}

.buton:hover{
    background-color: red;
}

/*Resim*/

.profil{
    width: 100%;
    height: 300px;
    object-fit: cover; /*dengeli bir şekilde görseli ayarlar*/
    border-radius: 10px;
}

